{% extends 'layout.html' %}

{% block content %}
    <div class="row" style="width: 100%; justify-content: flex-start">
        <div class="column">
            <h3 class="table-header">Frozen</h3>
            {{ frozen_table }}
        </div>
        <div class="column">
            <h3 class="table-header">Raw</h3>
            {{ raw_table }}
        </div>
        <div class="column">
            <h3 class="table-header">Spice</h3>
            {{ spice_table }}
        </div>
    </div>
{% endblock %}
