{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
    <div class="column" style="float: left">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <h3>{{ ingredient_name }}:</h3>
                {% for field in form %}
                    <div style="padding-top: 20px; padding-left: 20px">{{ render_field(field) }}</div>
                {% endfor %}
                <button type="submit" style="margin-top: 20px">Add</button>
            </div>
        </form>
        <div class="row">
            {{ table }}
            {{ not_active_table }}
        </div>
        <a href="{{ url_for('ingredients_list') }}">Back</a>
    </div>
{% endblock %}
