{% extends 'layout.html' %}

{% block content %}
    <div class="column">
        <table>
            <tr>
                <th>Low Risk Area</th>
                <th>{{ selected_day.date.strftime('%d-%m-%Y') }}</th>
                <th>{{ selected_day.batch }}</th>
            </tr>
            <tr>
                <th>Product</th>
                <th>Cooking Start time</th>
                <th>Cooking Finish time</th>
                <th>Core Temp</th>
            </tr>
            {% for product in cooked_products %}
            <tr>
                {% for process in product.processes %}
                    {% if process.process_type == 'cooking' %}
                        <td>{{ product.name }}</td>
                        <td>{{ process.start_time }}</td>
                        <td>{{ process.finish_time }}</td>
                        <td>{{ process.temperature }}&degC</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>High Care Area</th>
                <th>{{ selected_day.date.strftime('%d-%m-%Y') }}</th>
                <th>{{ selected_day.batch }}</th>
            </tr>
            <tr>
                <th>Product</th>
                <th>Assembly Start time</th>
                <th>Assembly Finish time</th>
            </tr>
            {% for product in cooked_products %}
            <tr>
            {% for process in product.processes %}
                {% if process.process_type == 'assembly-assembly' or process.process_type == 'cooling-cooling' %}
                    <td>{{ product.name }}</td>
                    <td>{{ process.start_time }}</td>
                    <td>{{ process.finish_time }}</td>
                {% endif %}
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>High Care Area</th>
                <th>{{ selected_day.date.strftime('%d-%m-%Y') }}</th>
                <th>{{ selected_day.batch }}</th>
            </tr>
            <tr>
                <th>Product</th>
                <th>Cooking Start time</th>
                <th>Cooking Finish time</th>
                <th>Core temp</th>
            </tr>
            {% for product in cooked_products %}
                <tr>
                {% for process in product.processes %}
                    {% if process.process_type == 'assembly-cooking' %}
                        <td>{{ product.name }}</td>
                        <td>{{ process.start_time }}</td>
                        <td>{{ process.finish_time }}</td>
                        <td>{{ process.temperature }}&degC</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>High Care Area</th>
                <th>{{ selected_day.date.strftime('%d-%m-%Y') }}</th>
                <th>{{ selected_day.batch }}</th>
            </tr>
            <tr>
                <th>Product</th>
                <th>Cooling Start time</th>
                <th>Cooling Finish time</th>
                <th>Core Temp</th>
            </tr>
            {% for product in cooked_products %}
            <tr>
                {% for process in product.processes %}
                    {% if process.process_type == 'assembly-cooling' %}
                        <td>{{ product.name }}</td>
                        <td>{{ process.start_time }}</td>
                        <td>{{ process.finish_time }}</td>
                        <td>{{ process.temperature }}&degC</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>High Risk Area</th>
                <th>{{ selected_day.date.strftime('%d-%m-%Y') }}</th>
                <th>{{ selected_day.batch }}</th>
            </tr>
            <tr>
                <th>Product</th>
                <th>Cooling Start time</th>
                <th>Cooling Finish time</th>
                <th>Core Temp</th>
            </tr>
            {% for product in cooked_products %}
            <tr>
                {% for process in product.processes %}
                    {% if process.process_type == 'cooling' %}
                        <td>{{ product.name }}</td>
                        <td>{{ process.start_time }}</td>
                        <td>{{ process.finish_time }}</td>
                        <td>{{ process.temperature }}&degC</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
